body {
    background: #000;
}
.container { 
    background: #000000;
}
.entry {
    width: 100%;
    height: 50px; 
    border-radius: 10px;
    padding: 10px;
    margin: 10px 2px;
    font-size: 16px;
    font-weight: bold; 
}
.calc-container {
    width: 305px;
    background-color: rgb(214, 214, 214);
    border-radius: 20px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.numBut {
    height: 59px;
    width: 59px; 
    margin: 10px 4px; 
    border: none !important;
}
.mathBut { 
    height: 59px;
    width: 59px;
    margin: 10px 4px; 
    border: none !important;
}
.equalBut {
    height: 59px; 
    width: 126px;
    margin: 10px 4px;
    border: none !important; 
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

.btn-primary {
    background-color:  pink !important;
    color: rgb(105, 105, 105);
}
.btn-light {
    background-color: rgb(255, 218, 176) !important;
    color: rgb(105, 105, 105);
}
.btn-dark {
    background-color: rgb(255, 250, 176) !important;
    color: rgb(105, 105, 105);
}

.btn-secondary {
    background-color: rgb(176, 255, 183) !important;
    color: rgb(105, 105, 105);
}

.btn-danger {
    background-color: rgb(176, 230, 255) !important;
    color: rgb(105, 105, 105);
}

.btn-success {
    background-color: rgb(222, 182, 255) !important;
    color: rgb(105, 105, 105);
}

.btn-warning {
    background-color: rgb(255, 182, 182) !important;
    color: rgb(105, 105, 105);
}

.btn-info {
    background-color: rgb(173, 173, 173) !important;
}
.btn {
    color: rgb(0, 0, 0) !important;
}